:root {
  color: #e8e8e8;
  background: #111;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

#root {
  --inventory-width: 13ch;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: var(--inventory-width);
  flex: 0 0 var(--inventory-width);
}

.inventory-spacer {
  width: var(--inventory-width);
  flex: 0 0 var(--inventory-width);
}

.backpack,
.eq {
  margin: 0;
  font: 1rem/1.2 monospace;
  white-space: pre;
}

.stats {
  margin: 0;
  font: 1rem/1.2 monospace;
  white-space: pre;
}

.map {
  margin: 0;
  font: 2rem/1 monospace;
  white-space: pre;
}

.map-row,
.map-positions {
  display: grid;
  line-height: 1;
  text-align: center;
}

.map-positions {
  height: 2em;
}

.map-position {
  font-size: 0.5em;
}

.log {
  min-height: 5em;
  margin: 0;
  font: 1rem/1.5 monospace;
  white-space: pre-wrap;
  width: 400px;
}
